name: Deno
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    name: Deno
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: canary
      - run: deno task test
